{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://weibo.com/u/3819222603"><img src="{% static 'images/weibo.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/SHYXIN"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/Xin48256015"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://space.bilibili.com/16216540"><img src="{% static 'images/bilibili.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by 王鑫 </p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->